In [3]:
import pandas as pd 
import numpy as np

In [4]:
df = pd.read_csv("bank-additional-full.csv" , delimiter = ";")

In [2]:
# let see what we have on another file 
with open("bank-additional-names.txt") as f:
    print(f.read())

﻿Citation Request:
  This dataset is publicly available for research. The details are described in [Moro et al., 2014].
  Please include this citation if you plan to use this database:

  [Moro et al., 2014] S. Moro, P. Cortez and P. Rita. A Data-Driven Approach to Predict the Success of Bank Telemarketing. Decision Support Systems, In press, http://dx.doi.org/10.1016/j.dss.2014.03.001

  Available at: [pdf] http://dx.doi.org/10.1016/j.dss.2014.03.001
                [bib] http://www3.dsi.uminho.pt/pcortez/bib/2014-dss.txt

1. Title: Bank Marketing (with social/economic context)

2. Sources
   Created by: Sérgio Moro (ISCTE-IUL), Paulo Cortez (Univ. Minho) and Paulo Rita (ISCTE-IUL) @ 2014

3. Past Usage:

  The full dataset (bank-additional-full.csv) was described and analyzed in:

  S. Moro, P. Cortez and P. Rita. A Data-Driven Approach to Predict the Success of Bank Telemarketing. Decision Support Systems (2014), doi:10.1016/j.dss.2014.03.001.

4. Relevant Information:

   This dataset is based on "Bank Marketing" UCI dataset (please check the description at: http://archive.ics.uci.edu/ml/datasets/Bank+Marketing).
   The data is enriched by the addition of five new social and economic features/attributes (national wide indicators from a ~10M population country), published by the Banco de Portugal and publicly available at: https://www.bportugal.pt/estatisticasweb.
   This dataset is almost identical to the one used in [Moro et al., 2014] (it does not include all attributes due to privacy concerns).
   Using the rminer package and R tool (http://cran.r-project.org/web/packages/rminer/), we found that the addition of the five new social and economic attributes (made available here) lead to substantial improvement in the prediction of a success, even when the duration of the call is not included. Note: the file can be read in R using: d=read.table("bank-additional-full.csv",header=TRUE,sep=";")

   The zip file includes two datasets:
      1) bank-additional-full.csv with all examples, ordered by date (from May 2008 to November 2010).
      2) bank-additional.csv with 10% of the examples (4119), randomly selected from bank-additional-full.csv.
   The smallest dataset is provided to test more computationally demanding machine learning algorithms (e.g., SVM).

   The binary classification goal is to predict if the client will subscribe a bank term deposit (variable y).

5. Number of Instances: 41188 for bank-additional-full.csv

6. Number of Attributes: 20 + output attribute.

7. Attribute information:

   For more information, read [Moro et al., 2014].

   Input variables:
   # bank client data:
   1 - age (numeric)
   2 - job : type of job (categorical: "admin.","blue-collar","entrepreneur","housemaid","management","retired","self-employed","services","student","technician","unemployed","unknown")
   3 - marital : marital status (categorical: "divorced","married","single","unknown"; note: "divorced" means divorced or widowed)
   4 - education (categorical: "basic.4y","basic.6y","basic.9y","high.school","illiterate","professional.course","university.degree","unknown")
   5 - default: has credit in default? (categorical: "no","yes","unknown")
   6 - housing: has housing loan? (categorical: "no","yes","unknown")
   7 - loan: has personal loan? (categorical: "no","yes","unknown")
   # related with the last contact of the current campaign:
   8 - contact: contact communication type (categorical: "cellular","telephone")
   9 - month: last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")
  10 - day_of_week: last contact day of the week (categorical: "mon","tue","wed","thu","fri")
  11 - duration: last contact duration, in seconds (numeric). Important note:  this attribute highly affects the output target (e.g., if duration=0 then y="no"). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.
   # other attributes:
  12 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
  13 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
  14 - previous: number of contacts performed before this campaign and for this client (numeric)
  15 - poutcome: outcome of the previous marketing campaign (categorical: "failure","nonexistent","success")
   # social and economic context attributes
  16 - emp.var.rate: employment variation rate - quarterly indicator (numeric)
  17 - cons.price.idx: consumer price index - monthly indicator (numeric)
  18 - cons.conf.idx: consumer confidence index - monthly indicator (numeric)
  19 - euribor3m: euribor 3 month rate - daily indicator (numeric)
  20 - nr.employed: number of employees - quarterly indicator (numeric)

  Output variable (desired target):
  21 - y - has the client subscribed a term deposit? (binary: "yes","no")

8. Missing Attribute Values: There are several missing values in some categorical attributes, all coded with the "unknown" label. These missing values can be treated as a possible class label or using deletion or imputation techniques.

In [15]:
df("unknown")

SyntaxError: invalid syntax (513633368.py, line 1)

In [12]:
df.loan.fillna

loan
no         33950
yes         6248
unknown      990
Name: count, dtype: int64

In [6]:
# let see how many unique value in each column
for col in df.columns:
    print(f"Number of unique values in column {col} is : {df[col].nunique()}")

Number of unique values in column age is : 78
Number of unique values in column job is : 12
Number of unique values in column marital is : 4
Number of unique values in column education is : 8
Number of unique values in column default is : 3
Number of unique values in column housing is : 3
Number of unique values in column loan is : 3
Number of unique values in column contact is : 2
Number of unique values in column month is : 10
Number of unique values in column day_of_week is : 5
Number of unique values in column duration is : 1544
Number of unique values in column campaign is : 42
Number of unique values in column pdays is : 27
Number of unique values in column previous is : 8
Number of unique values in column poutcome is : 3
Number of unique values in column emp.var.rate is : 10
Number of unique values in column cons.price.idx is : 26
Number of unique values in column cons.conf.idx is : 26
Number of unique values in column euribor3m is : 316
Number of unique values in column nr.employed is : 11
Number of unique values in column y is : 2

# preprocessing

In [7]:
data = df.copy()

In [10]:
for col in df.columns:
    if data[col].nunique() == 2:
        data[col] = data[col].replace({k:i for i , k in enumerate(df[col])})

In [11]:
data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,41171,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,41187
1,57,services,married,high.school,unknown,no,no,41171,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,41187
2,37,services,married,high.school,no,yes,no,41171,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,41187
3,40,admin.,married,basic.6y,no,no,no,41171,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,41187
4,56,services,married,high.school,no,no,yes,41171,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,41187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,41187,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,41186
41184,46,blue-collar,married,professional.course,no,no,no,41187,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,41187
41185,56,retired,married,university.degree,no,yes,no,41187,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,41187
41186,44,technician,married,professional.course,no,no,no,41187,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,41186
41187,74,retired,married,professional.course,no,yes,no,41187,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,41187