In [138]:
import pandas as pd 
import numpy as np

In [139]:
df = pd.read_csv("bank-additional-full.csv" , delimiter = ";")

In [140]:
# let see what we have on another file 
with open("bank-additional-names.txt") as f:
    print(f.read())

﻿Citation Request:
  This dataset is publicly available for research. The details are described in [Moro et al., 2014].
  Please include this citation if you plan to use this database:

  [Moro et al., 2014] S. Moro, P. Cortez and P. Rita. A Data-Driven Approach to Predict the Success of Bank Telemarketing. Decision Support Systems, In press, http://dx.doi.org/10.1016/j.dss.2014.03.001

  Available at: [pdf] http://dx.doi.org/10.1016/j.dss.2014.03.001
                [bib] http://www3.dsi.uminho.pt/pcortez/bib/2014-dss.txt

1. Title: Bank Marketing (with social/economic context)

2. Sources
   Created by: Sérgio Moro (ISCTE-IUL), Paulo Cortez (Univ. Minho) and Paulo Rita (ISCTE-IUL) @ 2014

3. Past Usage:

  The full dataset (bank-additional-full.csv) was described and analyzed in:

  S. Moro, P. Cortez and P. Rita. A Data-Driven Approach to Predict the Success of Bank Telemarketing. Decision Support Systems (2014), doi:10.1016/j.dss.2014.03.001.

4. Relevant Information:

   This dataset is based on "Bank Marketing" UCI dataset (please check the description at: http://archive.ics.uci.edu/ml/datasets/Bank+Marketing).
   The data is enriched by the addition of five new social and economic features/attributes (national wide indicators from a ~10M population country), published by the Banco de Portugal and publicly available at: https://www.bportugal.pt/estatisticasweb.
   This dataset is almost identical to the one used in [Moro et al., 2014] (it does not include all attributes due to privacy concerns).
   Using the rminer package and R tool (http://cran.r-project.org/web/packages/rminer/), we found that the addition of the five new social and economic attributes (made available here) lead to substantial improvement in the prediction of a success, even when the duration of the call is not included. Note: the file can be read in R using: d=read.table("bank-additional-full.csv",header=TRUE,sep=";")

   The zip file includes two datasets:
      1) bank-additional-full.csv with all examples, ordered by date (from May 2008 to November 2010).
      2) bank-additional.csv with 10% of the examples (4119), randomly selected from bank-additional-full.csv.
   The smallest dataset is provided to test more computationally demanding machine learning algorithms (e.g., SVM).

   The binary classification goal is to predict if the client will subscribe a bank term deposit (variable y).

5. Number of Instances: 41188 for bank-additional-full.csv

6. Number of Attributes: 20 + output attribute.

7. Attribute information:

   For more information, read [Moro et al., 2014].

   Input variables:
   # bank client data:
   1 - age (numeric)
   2 - job : type of job (categorical: "admin.","blue-collar","entrepreneur","housemaid","management","retired","self-employed","services","student","technician","unemployed","unknown")
   3 - marital : marital status (categorical: "divorced","married","single","unknown"; note: "divorced" means divorced or widowed)
   4 - education (categorical: "basic.4y","basic.6y","basic.9y","high.school","illiterate","professional.course","university.degree","unknown")
   5 - default: has credit in default? (categorical: "no","yes","unknown")
   6 - housing: has housing loan? (categorical: "no","yes","unknown")
   7 - loan: has personal loan? (categorical: "no","yes","unknown")
   # related with the last contact of the current campaign:
   8 - contact: contact communication type (categorical: "cellular","telephone")
   9 - month: last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")
  10 - day_of_week: last contact day of the week (categorical: "mon","tue","wed","thu","fri")
  11 - duration: last contact duration, in seconds (numeric). Important note:  this attribute highly affects the output target (e.g., if duration=0 then y="no"). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.
   # other attributes:
  12 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
  13 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
  14 - previous: number of contacts performed before this campaign and for this client (numeric)
  15 - poutcome: outcome of the previous marketing campaign (categorical: "failure","nonexistent","success")
   # social and economic context attributes
  16 - emp.var.rate: employment variation rate - quarterly indicator (numeric)
  17 - cons.price.idx: consumer price index - monthly indicator (numeric)
  18 - cons.conf.idx: consumer confidence index - monthly indicator (numeric)
  19 - euribor3m: euribor 3 month rate - daily indicator (numeric)
  20 - nr.employed: number of employees - quarterly indicator (numeric)

  Output variable (desired target):
  21 - y - has the client subscribed a term deposit? (binary: "yes","no")

8. Missing Attribute Values: There are several missing values in some categorical attributes, all coded with the "unknown" label. These missing values can be treated as a possible class label or using deletion or imputation techniques.

In [141]:
( < (df == 'unknown').sum())

SyntaxError: invalid syntax (374347020.py, line 1)

In [142]:
((df == 'unknown').sum() / df.shape[0])

age               0.000000
job               0.008012
marital           0.001942
education         0.042027
default           0.208726
housing           0.024036
loan              0.024036
contact           0.000000
month             0.000000
day_of_week       0.000000
duration          0.000000
campaign          0.000000
pdays             0.000000
previous          0.000000
poutcome          0.000000
emp.var.rate      0.000000
cons.price.idx    0.000000
cons.conf.idx     0.000000
euribor3m         0.000000
nr.employed       0.000000
y                 0.000000
dtype: float64

In [143]:
(df == 'unknown').any(axis=1).sum() # so there is about 10700 rows that we may drop them

10700

In [144]:
# let fillna the nan values of some columns that has less nan values
nans = ((df == 'unknown').sum() / df.shape[0])
columns2fillna = nans[(0.2 > nans) &  (nans > 0)].index
for col in columns2fillna:
    df[col] = df[col].replace({"unknown" : df[col].mode()[0]})

In [145]:
((df == 'unknown').sum() / df.shape[0])

age               0.000000
job               0.000000
marital           0.000000
education         0.000000
default           0.208726
housing           0.000000
loan              0.000000
contact           0.000000
month             0.000000
day_of_week       0.000000
duration          0.000000
campaign          0.000000
pdays             0.000000
previous          0.000000
poutcome          0.000000
emp.var.rate      0.000000
cons.price.idx    0.000000
cons.conf.idx     0.000000
euribor3m         0.000000
nr.employed       0.000000
y                 0.000000
dtype: float64

In [146]:
(df == 'unknown').any(axis=1).sum()
# now we can only drop 8597 i think its batter to drop them 
# cause its too much to fillna 20% of rows with mode 
# we can use another algorithm or 
# fillna with the value that in previouse row 
# but we will only drop them

8597

In [147]:
df["default"] = df["default"].replace({"unknown" : np.nan})
df = df.dropna()

In [148]:
(df == 'unknown').any(axis=1).sum()

0

In [149]:
# let see how many unique value in each column
for col in df.columns:
    print(f"Number of unique values in column {col} is : {df[col].nunique()}")

Number of unique values in column age is : 77
Number of unique values in column job is : 11
Number of unique values in column marital is : 3
Number of unique values in column education is : 7
Number of unique values in column default is : 2
Number of unique values in column housing is : 2
Number of unique values in column loan is : 2
Number of unique values in column contact is : 2
Number of unique values in column month is : 10
Number of unique values in column day_of_week is : 5
Number of unique values in column duration is : 1464
Number of unique values in column campaign is : 41
Number of unique values in column pdays is : 27
Number of unique values in column previous is : 8
Number of unique values in column poutcome is : 3
Number of unique values in column emp.var.rate is : 10
Number of unique values in column cons.price.idx is : 26
Number of unique values in column cons.conf.idx is : 26
Number of unique values in column euribor3m is : 316
Number of unique values in column nr.employed is : 11
Number of unique values in column y is : 2

# preprocessing

In [150]:
data = df.copy()

In [151]:
for col in df.columns:
    if data[col].nunique() == 2:
        data[col] = data[col].replace({k:i for i , k in enumerate(df[col].unique())})

In [152]:
data["month"] = data["month"].replace({k : i for i , k in enumerate(data["month"].unique())})
data["day_of_week"] = data["day_of_week"].replace({k : i for i , k in enumerate(data["day_of_week"].unique())})

In [153]:
data["education"].value_counts()

education
university.degree      11901
high.school             7905
professional.course     4438
basic.9y                4418
basic.4y                2477
basic.6y                1441
illiterate                11
Name: count, dtype: int64

In [154]:
its better to ask chatgpt to make it for u if u dont know like 
what is the highest degree and what is the lowest degree 

that the promet that i used 
give me a dict for this data with value from 0 - to len of them 
and make it based on what is the better give it max number and the lowest give it 0 

education
university.degree      11901
high.school             7905
professional.course     4438
basic.9y                4418
basic.4y                2477
basic.6y                1441
illiterate                11

SyntaxError: invalid decimal literal (3565604274.py, line 12)

In [155]:
# the result was 

degrees = {
    "university.degree": 6, 
    "high.school": 5,
    "professional.course": 4,
    "basic.9y": 3,
    "basic.4y": 2,
    "basic.6y": 1,
    "illiterate": 0 
}

In [156]:
data["education"] = data["education"].replace(degrees)

In [157]:
data = data.join(pd.get_dummies(data["poutcome"]).iloc[:,1:]) # cause its 3 columns so we dont need the third
data = data.join(pd.get_dummies(data["marital"]).iloc[:,1:]) # cause its 3 columns so we dont need the third
data = data.join(pd.get_dummies(data["job"]).iloc[:,1:]) # i dont know how many columns but u know 

data = data.drop(["poutcome" , "marital" , "job"] , axis = 1)

In [158]:
df["job"].value_counts()

job
admin.           9307
blue-collar      6088
technician       5767
services         3053
management       2466
retired          1327
entrepreneur     1155
self-employed    1139
unemployed        777
student           771
housemaid         741
Name: count, dtype: int64

In [159]:
data

,age,education,default,housing,loan,contact,month,day_of_week,duration,campaign,...,blue-collar,entrepreneur,housemaid,management,retired,self-employed,services,student,technician,unemployed
0,56,2,0,0,0,0,0,0,261,1,...,False,False,True,False,False,False,False,False,False,False
2,37,5,0,1,0,0,0,0,226,1,...,False,False,False,False,False,False,True,False,False,False
3,40,1,0,0,0,0,0,0,151,1,...,False,False,False,False,False,False,False,False,False,False
4,56,5,0,0,1,0,0,0,307,1,...,False,False,False,False,False,False,True,False,False,False
6,59,4,0,0,0,0,0,0,139,1,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,4,0,1,0,1,5,4,334,1,...,False,False,False,False,True,False,False,False,False,False
41184,46,4,0,0,0,1,5,4,383,1,...,True,False,False,False,False,False,False,False,False,False
41185,56,6,0,1,0,1,5,4,189,2,...,False,False,False,False,True,False,False,False,False,False
41186,44,4,0,0,0,1,5,4,442,1,...,False,False,False,False,False,False,False,False,True,False
41187,74,4,0,1,0,1,5,4,239,3,...,False,False,False,False,True,False,False,False,False,False